In [1]:
# Import dependencies.
import pandas as pd
import csv
import os

In [2]:
# Files to load
file_path = os.path.join("Resources","iris.csv")
print (file_path)

#Read iris.csv into a Pandas dataframe.
iris_df = pd.read_csv(file_path)
iris_df.head()

Resources/iris.csv

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

Which field should we drop from the DataFrame?
A) sepal_length
B) sepal_width
C) petal_length
D) petal_width
***E) class

Note: Unsupervised learning will be used to determine the class of the iris plants later on in the module; it also only deals with numerical data so the class (string) had to be dropped.

In [3]:
# Drop the class field 
new_iris_df = iris_df.drop(['class'], axis=1)
new_iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [4]:
# Skill Drill: try reordering the columns so the sepal and petal
# note: use [[]] for reordering columns in Pandas 
new_iris_df = iris_df[['sepal_length','petal_length','sepal_width','petal_width']]
new_iris_df.head()

   sepal_length  petal_length  sepal_width  petal_width
0           5.1           1.4          3.5          0.2
1           4.9           1.4          3.0          0.2
2           4.7           1.3          3.2          0.2
3           4.6           1.5          3.1          0.2
4           5.0           1.4          3.6          0.2

In [7]:
# Set folder for output edited new_iris_data.csv file
output_file_path = os.path.join("Resources","new_iris_data.csv")

# Output edited iris DF to .csv file 
new_iris_df.to_csv(output_file_path, index=False)
print (output_file_path)

Resources/new_iris_data.csv